//- extends layout

//- block content
//-   head
//-     title Debug Information
//-   body
//-     h1 Debug Information
//-     pre= JSON.stringify({ locals: locals, isAuthenticated: isAuthenticated }, null, 2)

//- debug.pug
doctype html
html(lang='en')
  head
    title Debug Page
  body
    h1 Debug Page
    if user
      pre= JSON.stringify(user, null, 2)
    else
      p No user data available
