block content
  //- Include Bootstrap CSS
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css", integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I", crossorigin="anonymous")

  //- Include your custom stylesheet
  link(rel="stylesheet", href="/stylesheets/index.css")

  //- Include the body content from the previous template
  body.d-flex.text-center.text-white.bg-dark
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          //- h3.float-md-left.mb-0 LocalLibrary
          nav.nav.nav-masthead.justify-content-center.float-md-right
            a.nav-link.active(aria-current='page', href='/') Home
            a.nav-link.active(aria-current='page', href='/collection') Collection
            if user
              a.nav-link(href='/logout') Logout
            else
              a.nav-link(href='/login') Library Admin
      main.px-3
        h1 LocalLibrary
        p.lead
          - let greetingMessage = user ? `Welcome to LocalLibrary, ${user.username}!` : "Welcome to LocalLibrary, your virtual library hub."
          | #{greetingMessage}
          br
          | Feel free to dive into our extensive collection and explore the variety of offerings available at the library.
          br
        a.btn.btn-lg.btn-secondary.font-weight-bold.border-white.bg-black(href='/collection') View Collection
      footer.mt-auto.text-white-50
        p &copy; 2024