extends layout

block content
  //- Create a flexbox container for centering content
  .center-content-index 
      //- Conditional rendering based on user authentication
      if user
        //- Show this content if the user is authenticated
        h1 Welcome, #{user.username}!
        //- You can add more content specific to authenticated users here

      else
        //- Show this content if the user is not authenticated
        div(style="margin-top: 15px;")
        h1 Library Admin Access
        div(style="margin-bottom: 20px;")
        form(action="/login/password", method="post")
          section
            label(for="username") 
              | Username: 
              // Added space here
              input#username(name="username", type="text", autocomplete="username", required, autofocus)
          section
            label(for="current-password") 
              | Password:  
            //- Added margin to the input field for extra space
            input#current-password(name="password", type="password", autocomplete="current-password", required, style="margin-left: 10px;")
          //- Sign-in button 
          div(style="margin-top: 10px;")
          button.btn.btn-primary(type="submit", style="margin-top: 10px;") Sign in

        //- Error message wrapped in a div
        div(style="margin-top: 20px;")
          if message
            p.error= message

        //- Link to reset password page
        a(href="/resetpassword") Reset your password

  //- Link to your stylesheet
  link(rel="stylesheet", href="/stylesheets/style.css")
