extends layout

block content
  //- Display error message if exists
  if message
    p.error= message

  //- Sign-in form
  form(action="/login/password", method="post")
    section
      label(for="username") Username: 
      input#username(name="username", type="text", autocomplete="username", required, autofocus)
    section
      label(for="current-password") Password: 
      input#current-password(name="password", type="password", autocomplete="current-password", required)
    section    
      p
        //- Sign-in button 
        button(type="submit") Sign in

    //- Sign-up link
    p
      | Don't have an account? 
      a(href="/signup") Sign up
