extends layout

block content
  .center-content-index 
    //- Show authenticated user content
    h1 Password Reset
    div(style="margin-top: 15px;")
      div(style="margin-bottom: 70px;")
        form(action="/resetpassword", method="post")
          //- Input fields for username, old and new passwords
          div(style="display: flex; flex-direction: column; margin-top: 20px;")
            div(style="display: flex; align-items: center; margin-bottom: 10px;")
              label(for="username" style="width: 150px; margin-right: 10px;") Username:
              input#username(name="username", type="text", autocomplete="username", required, autofocus)
            div(style="display: flex; align-items: center; margin-bottom: 10px;")
              label(for="current-password" style="width: 150px; margin-right: 10px;") Current Password:
              input#old-password(name="current-password", type="password", autocomplete="current-password", required)
            div(style="display: flex; align-items: center; margin-bottom: 10px;")
              label(for="new-password" style="width: 150px; margin-right: 10px;") New Password:
              //- Adjusted width for the new password field
              input#new-password(name="new-password", type="password", autocomplete="new-password", required, style="width: 185px;")
          //- Change Password button 
          div(style="margin-top: 10px;")
            button.btn.btn-primary(type="submit", style="margin-top: 10px;") Change Password

      //- Display flash messages if they exist
      div(style="margin-top: 20px;")
        //- Error message wrapped in a div
        if error
          p.error= error
        //- Success message wrapped in a div
        if success
          p.success= success

  //- Link to your stylesheet
  link(rel="stylesheet", href="/stylesheets/style.css")
