extends layout

block content
  //- Create a flexbox container for centering content
  .center-content-index 
    //- Show authenticated user content
    //- Bootstrap card added for styling
    .card.shadow.bg-dark.text-white.text-center.mx-auto.w-50
      .card-body
        h1.card-title.mb-4 Password Reset
        form(action="/resetpassword", method="post")
          //- Input fields for username, old and new passwords
          div(style="display: flex; flex-direction: column; margin-top: 20px;")
            div(style="display: flex; align-items: center; margin-bottom: 10px;")
              label(for="username" style="width: 150px; margin-right: 10px;") Username:
              //- Set width to 90% for username input field
              input#username.form-control(name="username", type="text", autocomplete="username", required, autofocus, style="width: 60%")
            div(style="display: flex; align-items: center; margin-bottom: 10px;")
              label(for="current-password" style="width: 150px; margin-right: 10px;") Current Password:
              //- Set width to 90% for current password input field
              input#old-password.form-control(name="current-password", type="password", autocomplete="current-password", required, style="width: 60%")
            div(style="display: flex; align-items: center; margin-bottom: 10px;")
              label(for="new-password" style="width: 150px; margin-right: 10px;") New Password:
              //- Set width to 90% for new password input field
              input#new-password.form-control(name="new-password", type="password", autocomplete="new-password", required, style="width: 60%")
          //- Change Password button 
          div(style="margin-top: 20px;")
            button.btn.btn-primary.btn-block(type="submit") Change Password

      //- Display flash messages if they exist
      div(style="margin-top: 20px;")
        //- Error message wrapped in a div
        if error
          p.error= error
        //- Success message wrapped in a div
        if success
          p.success= success

  //- Link to your stylesheet
  link(rel="stylesheet", href="/stylesheets/style.css")
