extends layout

block content
    .center-content-index 
        link(rel="stylesheet", href="/stylesheets/stylesheet.css")

        h1 Search Results
        //- Search form removed from the search page
