/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

:root {
  /* Define colors */
  --background-color: #1e1e1e;
  --text-color: #dcdcdc;
  --link-color: #4a90e2;
  --sidebar-bg-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

.list-group-item {
  background-color: var(--sidebar-bg-color);
  color: var(--text-color);
}

.list-group-item.active {
  background-color: #444;
}

.list-group-item.active:hover {
  background-color: #555;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.center-content {
  padding: 30px 0;
  text-align: center;
  /* margin: 0 auto; */
  width: 50%;
}

.center-content-index {
  padding: 20px 0;
  text-align: center;
  /* margin: 0 auto; */
  width: 50%;
} 

.flex-container {
  display: flex;
  /* justify-content: center; /* Horizontally center content */
  /* align-items: center; /* Vertically center content */
  height: 100vh; /* Optional: Set the height of the container */
}

/* Add custom CSS styles */
.library-staff,
.access {
  color: #FFA500; /* Change to the desired color */
}
